name: Transmuter CI

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      workflow_to_run:
        type: choice
        description: Which workflow to run?
        required: true
        options:
          - all
          - foundry-tests
          - build-via-ir
  pull_request:
    types:
      - ready_for_review
      - review_requested
  pull_request_review:
    types: [submitted]

defaults:
  run:
    shell: bash

jobs:
  run-linters:
    name: Run Linters
    if: github.ref == 'refs/heads/main' || github.event.review.state == 'approved' || github.event.action == 'ready_for_review' || github.event.action == 'review_requested'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: yarn-
      - name: Install dependencies
        run: |
          yarn install --frozen-lockfile
      - name: Run lint
        run: yarn lint

  build-via-ir:
    name: Compilation (via IR)
    if: github.ref == 'refs/heads/main' || github.event.inputs.workflow_to_run == 'all' || github.event.inputs.workflow_to_run == 'build-via-ir' || github.event.review.state == 'approved' || github.event.action == 'ready_for_review' || github.event.action == 'review_requested'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: yarn-
      - run: yarn install --frozen-lockfile

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Build contracts via IR
        run: yarn test --via-ir

  foundry-tests:
    name: Fuzz, Unit and Invariant Tests
    if: github.ref == 'refs/heads/main' || github.event.inputs.workflow_to_run == 'all' || github.event.inputs.workflow_to_run == 'foundry-tests' || github.event.review.state == 'approved' || github.event.action == 'ready_for_review' || github.event.action == 'review_requested'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: yarn-
      - run: yarn install --frozen-lockfile

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Foundry tests
        run: set -o pipefail && yarn run:ci | tee ethereum.gasreport.ansi

      - name: Compare gas reports
        uses: Rubilmax/foundry-gas-diff@v3.14
        id: gas_diff
        with:
          match: contracts/transmuter/DiamondProxy.sol
          report: ethereum.gasreport.ansi

